{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react",
    "next/babel",
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "elements": "./app/elements",
          "compounds": "./app/compounds",
          "hooks": "./app/hooks",
          "modules": "./app/modules",
          "layouts": "./app/layouts",
          "page-modules": "./app/page-modules",
          "config": "./app/config",
          "types": "./app/types",
          "utils": "./app/utils",
          "static": "./static",
          "pages": "./pages"
        }
      }
    ],
    ["transform-md-import-to-string"],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    [
      "inline-react-svg",
      {
        "caseSensitive": true,
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false
            },
            {
              "removeTitle": true
            }
          ]
        }
      }
    ]
  ]
}
