:root {
  --black: #212121;
  --white: #fff;
  --dark-grey: #505050;
  --medium-grey: #ddd;
  --light-grey: #f5f5f5;

  --red: #db4437;
  --blue: #4285f4;
  --purple: #3f51b5;
  --green: #0f9d58;
  --yellow: #f4b400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
}
